.header, .header.MuiPaper-root {
  // background-color: #0d101b !important;
  // transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  // box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2),0px 5px 8px 0px rgba(0,0,0,0.14),0px 1px 14px 0px rgba(0,0,0,0.12);
  background-color:transparent !important;
  border:none !important;
  padding:12px 4px;
}

.header-logo {
  height:42px;
  margin-right:12px;
}

.header-menu {
  margin-left:50px;
  flex-grow:800;

  .header-menu-item{
    margin-right:20px;
    text-decoration: none;
  }

  .header-menu-item.active{
    background-color: rgba(255, 255, 255, 0.08);
  }
}

.header-action{
  float:right;
}
.discord-btn {
  background: #7289DA !important;
display:inline-block !important;

  .discord-btn-icon {
    background-image: url('/discord_icon.svg') !important;
    background-repeat: no-repeat !important;
    background-size: 100% !important;
    display: inline-block !important;
    height: 20px !important;
    width: 20px !important;
    vertical-align: middle !important;
    margin: -1px 10px 0 0 !important;
  }
}