.App {
  text-align: center;
}

.MuiPaper-root {
  background-color: #232f4b !important;
}

.MuiTableHead-root, .MuiTabs-root {
  background-color: #1b2439!important;
}

.tabs {
  .MuiTableHead-root {
    background-color: transparent !important;
  }
}
.MuiTableCell-root {
border-bottom: 1px solid #1b2439 !important;
}

body{
  background-color: #131928 !important;
}

.main {
  margin-top:100px;
}

.title {
  text-align:center;
}

.logo-small {
  height:45px;
  display:inline-block;
}

.button {
  margin:15px 15px !important;
}

a {
  text-decoration: none !important;
}